<h2>Encontros</h2>

<% if @meetings.present? %>

  <% @meetings.each do |meeting| %>
  
    <% content_tag :div, :id => "sub_content" do %>
    
      <% content_tag :div, :class => "meeting_image" do %>
        <%= image? meeting %>
        <p>
          <%= print_present meeting.code, "Código" %>
          <%= print_present meeting.video, "Vídeo" %>
          <%= print_present meeting.slide, "Slide" %>
        </p>
      <% end %>
      
      <h3><%= link_to meeting.title, meeting %></h3>
      
      <p>dia <%= meeting.date %> por <%= meeting.autor %></p><br />
      
      <p><%= meeting.description %></p>

    <% end %>
    
  <% end %>
  
<% else %>
  <p>Ainda não há encontros programados.</p>
<% end %>
