<h2><%= @meeting.title %></h2>
<p>dia <%= @meeting.date %> por <%= @meeting.autor %></p>
<%= @meeting.description %>
<br/>
<%= print_present(@meeting.code,"Código") %>
<br/>
<%= print_present(@meeting.video,"Vídeo") %>
<br/>
<%= print_present(@meeting.slide,"Slide") %>
