<%= form_for [ post, comment ] do |f| %>

  <%= error_messages_for comment %>
  
  <div class="field">
    <%= f.label :author, "Autor" %><br />
    <%= f.text_field :author %>
  </div>
  
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :url, "Site" %><br />
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :body, "Comentário" %><br />
    <%= f.text_area :body, :rows => 10, :cols => 70 %>
  </div>
  
  <div class="actions">
    <%= f.submit "Comentar" %>
  </div>
  
<% end %>
