<%= form_for @user do |f| %>

  <%= error_messages_for @user %>
  
  <div class="field">
    <%= f.label :full_name, "Nome completo" %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city, "Cidade" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Repetir senha" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Criar" %>
  </div>

<% end %>
