<h2>Usuários</h2>

<%- if @users.present? -%>
<ul class="list">
  <% @users.each do |user| %>
    <%= content_tag_for :li, user, :class => cycle(:odd, :even) do %>
    
      <span class="gravatar"><%= gravatar_image_tag user.email %></span>
      
      <span class="name"><%= link_to "#{user.full_name}", [:edit, user] %></span>
      
      <span class="city"><%= user.city %></span>
      
      <span class="projects", class="right">
        <% if user.projects.present? %>
          <%= link_to "#{user.projects.count} projetos open source"%>
        <% else %>
          Nenhum projeto open source
        <% end %>
      </span>
      
    <% end %>
  <% end %>
</ul>
<%- end -%>

<hr />

<div class="bar">
  <div class="right">
    <%= link_to 'Cadastre-se', new_user_path, :class => "button" %>
  </div>
</div>
