<div class="note">
  Seja <strong>bem-vindo</strong> ao Grupo de Usuários Ruby (Rails) de <strong>Santa Catarina</strong>. <br />Nosso intuito é unir pessoas com objetivos em comum, difundir esta maravilhosa linguagem (framework) com a qual trabalhamos por <strong>prazer</strong>.
</div>

<% if @last_meeting.present? %>
  <div id="main_content_home">
    <h2>Próximo encontro</h2>
    <h3><%= link_to @last_meeting.title, meetings_path %></h3>
    <p>dia <%= @last_meeting.date.strftime("%d de %B") %> por <%= @last_meeting.autor %></p>
    <%= @last_meeting.description[0..400] + "..." %>
    <p><%= link_to "Saiba mais", meetings_path  %></p>
  </div>
<% end %>
<div id="right_content">
  <h2>Google Group</h2>
  <p>Compartilhe sua experiência, tire dúvidas, conhece mais nossos membros. Esteja integrado para um networking de sucesso!</p>
  <%= link_to "Registre-se", "http://groups.google.com.br/group/guru-sc/", :target => "_blank" %>
</div>

<div id="right_content">
  <h2>Twitter</h2>
  <p>Fique por dentro das novidades, vagas de trabalho e futuros encontros.</p>
  <%= link_to "Follow us", "http://twitter.com/gurusc/", :target => "_blank" %>
</div>

<% if @last_post.present? %>
  <div id="home_post">
    <h2>Últimos posts</h2>
      <h3><%= link_to @last_post.title, @last_post %></h3>
      <div id="post">
        <%= simple_format @last_post.excerpt %>
      </div>
      <%= link_to "Continuar lendo...", @last_post %>
  </div>
<% end %>
