<div class="note">
  Seja <strong>bem-vindo</strong> ao Grupo de Usuários Ruby (Rails) de <strong>Santa Catarina</strong>. <br />Nosso intuito é unir pessoas com objetivos em comum, difundir esta maravilhosa linguagem (framework) com a qual trabalhamos por <strong>prazer</strong>.
</div>

<hr />

<div id="main_content_home">
  <h2>Próximo encontro</h2>
  <h3><%= link_to @last_meeting.title, @last_meeting %></h3>
  <p>dia <%= @last_meeting.date %> por <%= @last_meeting.autor %></p>
  <%= @last_meeting.description[0..400] + "..." %>
  <br/>
</div>

<div id="right_content">
  <h2>Google Group</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper adipiscing mauris, sit amet varius dui blandit vitae.</p>
  <a href="http://groups.google.com.br/group/guru-sc/">Registre-se</a>
</div>

<div id="right_content">
  <h2>Twitter</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper adipiscing mauris, sit amet varius dui blandit vitae.</p>
  <a href="http://twitter.com/gurusc/">Fallow us</a>
</div>

<%- if @last_post.present? -%>
  <div id="home_post">
    <hr />
    <h2>Últimos posts</h2>
      <h3><%= link_to @last_post.title, @last_post %></h3>
      <div id="post">
        <%= simple_format @last_post.excerpt %>
      </div>
      <%= link_to "Continuar lendo...", @last_post %>
      <hr/>
  </div>
<%- end -%>
