<%= form_for [:admin, @project] do |f| %>
  <%= error_messages_for @project %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :git %><br />
    <%= f.text_field :git %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
