<h2>Projetos</h2>

<% if @projects.present? %>
<ul class="list">
  <% @projects.each do |project| %>
    <%= content_tag_for :li, project, :class => cycle(:odd, :even) do %>
      <%= link_to project.name, [:edit, :admin, project] %>
      <div class="right">
        <%= link_to_edit [:edit, :admin, project] %>,
        <%= link_to_destroy [:admin, project] %>
      </div>
    <% end %>
  <% end %>
</ul>
<% else %>
  <p>Ainda não há projetos criados.</p>
<% end %>

<hr />

<div class="bar">
  <div class="right">
    <%= link_to 'Novo projeto', new_admin_project_path, :class => "button" %>
  </div>
</div>
