<h2>Projetos opensource</h2>

<% if @projects.present? %>
    <% @projects.each do |project| %>
    
    <% content_tag :div, :id => "sub_content", :class => cycle(:odd, :even)  do %>
    
      <h3><%= link_to project.name, project.git, :target => '_blank' %></h3>
      
      <%= project.description %>
      
      <h4>Membros colaboradores</h4>
      
      <% content_tag :div, :id => "sub_content" do %>

        <% project.users.each do |user| %>
          <%= link_to user.full_name, user %>
          <br />
        <% end %>
        <br />
        
        <% if user_signed_in? %>
        
          <% unless project.users.include? current_user %>
            <%= link_to "Faço parte do projeto", [:member_add, project], :class => "right", :method => :get %>
            <br /> 
          <% else %>
            <%= link_to "Não faço parte do projeto", [:member_remove, project], :class => "right", :method => :get %>
          <% end %>
        <% end %>
        
      <% end %>
      
    <% end %>

  <% end %>
<% else %>
  <p>Ainda não há projetos cadastrados.</p>
<% end %>
