<h2>Categorias</h2>

<%- if @categories.present? -%>
  <ul class="list">
    <% @categories.each do |category| %>
      <%= content_tag_for :li, category, :class => cycle(:odd, :even) do %>
        <%= link_to category.name, [:admin, category] %>

        <div class="right">
          <%= link_to_edit [:edit, :admin, category] %>,
          <%= link_to_destroy [:admin, category] %>
        </div>
      <% end %>
    <% end %>
  </ul>
<%- else -%>
  <p>Não há categoria criada.</p>
<%- end -%>

<hr class="thick" />

<div class="bar">
  <div class="right">
    <%= link_to 'Nova categoria', new_admin_post_category_path, :class => "button" %>
  </div>
</div>
