<%= form_for [:admin, @post] do |f| %>
  <%= error_messages_for @post %>

  <div id="body">
  <% if @post.id? %>
    <h2>
      Editar post
    </h2>
  <% else %>
    <h2>Novo post</h2>
  <% end %>
    <div class="field">
      <%= f.label "Autor" %>
      <%= f.collection_select :author_id, @authors, :id, :full_name %>
    </div>

    <div class="field">
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, :class => "title" %>
    </div>

    <div class="field">
      <%= f.label :excerpt, "Resumo" %>
      <%= f.text_area :excerpt, :rows => 5, :cols => 82 %>
    </div>

    <div class="field">
      <%= f.label :body, "Post" %>
      <%= f.text_area :body, :rows => 30, :cols => 82 %>
    </div>

    <div class="field">
      <%= f.check_box :draft %>
      <%= f.label :draft, "Rascunho?" %>
    </div>

    <p>
      <%= f.submit :class => "button" %> ou <%= link_to "cancelar", admin_posts_path %>
    </p>
  </div>

  <div id="sidebar">
    <%= section "Categorias" do %>
      <ul class="categories-field">
        <% @categories.each do |c| %>
          <li><%= check_box_tag "post[category_ids][]", c.id, @post.categories.include?(c) %> <%= c.name %></li>
        <% end %>
      </ul>
      <div class="bar">
        <%= link_to "New category", new_admin_post_category_path, :class => "button right" %>
      </div>
      <br/>
      <hr />
    <% end %>
    
    <%= section "Publicar em" do %>
      <div class="field">
        <%= f.date_select :published_at %>
      </div>
      <hr />
    <% end %>
    
    <%= section "Permalink" do %>
      <div class="field">
        <%= f.label :slug, "URL" %><br/>
        <%= f.text_field :slug, :size => 32 %>
      </div>
      <hr />
    <% end %>
    
  </div>

<% end %>

<%= javascript_include_tag "lib/jquery.textile.image" %>

<% content_for :bottom do %>
  <script type="text/javascript" charset="utf-8">
    $(".media").insertTextileImageTo("#post_body")
  </script>
<% end %>
