<%= form_for [:admin, @upload], :html => { :multipart => true }  do |f| %>
  <%= error_messages_for @upload %>

  <div class="field">
    <%= f.label "Título" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Descrição" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.file_field :document %>
  </div>

  <hr />

  <p>
    <%= f.submit "Enviar", :class => "button" %> ou <%= link_to "cancelar", admin_uploads_path %>
  </p>
<% end %>

