<div id="column1">

  <h3><%= @post.title %></h3>
    <div class="post_info">
      <p>por <%= link_to @post.author.full_name, user_path(@post.author_id) %>
      em <%= @post.created_at.strftime("%d de %B") %></p>
    </div>

  <div id="post">
    <%= textilize @post.body %>
  </div>

  <div class="post_info">
    Em
    <% @post.category_ids.each do |id| %>
      <%= link_to p_category(id), posts_path(:category_id => (id)) %>
    <% end %>
  </div>
  
  <hr />

  <div id="comments">

    <h3><%= pluralize(@post.comments.count, ' comentário', ' comentários') %></h3>

    <%= render @post.comments if @post.comments.any? %>
      
  </div>

  <%= render "comments/form", :post => @post, :comment => Comment.new %>
  
</div>

<%= render "sidebar" %>
