<div id="column1">

  <h3><%= @post.title %></h3>

  <div id="post">
    <%= textilize @post.body %>
  </div>
  
  <hr />

  <div id="comments">
    <h3>
      <%= @post.comments.count if @post.comments.present? %> Comentários
    </h3>
    <%- if @post.comments.any? -%>
     
      <%= render @post.comments %>
      
    <%- else -%>
      <p>Seja o primeiro a comentar.</p>
    <%- end -%>
  </div>

  <%= render "comments/form", :post => @post, :comment => Comment.new %>
  
</div>

<%= render "sidebar" %>
