<%= form_for [:admin, @user] do |f| %>

  <%= error_messages_for @user %>
  
  <div class="field">
    <%= f.label "Nome completo" %>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Senha" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Repetir senha" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <hr />

  <p>
    <%= f.submit "Criar",  :class => "button" %> 
    ou <%= link_to "Cancelar", admin_users_path %>
  </p>

<% end %>
