<%= form_for [:admin, @user] do |f| %>

  <%= error_messages_for @user %>
  
  <div class="field">
    <%= f.label :full_name, "Nome completo" %>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city, "Cidade" %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Repetir senha" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role, "Permissão" %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
    <%= puts params.inspect %>
  </div>

  <hr />

  <p>
    <%= f.submit "Criar",  :class => "button" %> 
    ou <%= link_to "Cancelar", admin_users_path %>
  </p>

<% end %>
