<h2>Usuários</h2>

<%- if @users.present? -%>
<ul class="list">
  <% @users.each do |user| %>
    <%= content_tag_for :li, user, :class => cycle(:odd, :even) do %>
      <%= link_to "#{user.full_name} (#{user.email})", [:edit, :admin, user] %>

      <div class="right">
        <%= link_to_edit [:edit, :admin, user] %>
        <%= link_to_destroy [:admin, user] unless current_user == user %>
      </div>
    <% end %>
  <% end %>
</ul>
<%- end -%>

<hr />

<div class="bar">
  <div class="right">
    <%= link_to 'Novo usuário', new_admin_user_path, :class => "button" %>
  </div>
</div>
