<!DOCTYPE html>
<html>
<head>
  <title><%= application_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "lib/jquery", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="login" class="right">
      <% if user_signed_in? %>
        <%= link_to current_user.full_name %> | <%= link_to 'logout', logout_path %>
      <% else %>
        <%= link_to 'login', login_path %> | <%= link_to 'cadastre-se', new_user_path %>
      <% end %>
    </div>
    <div id="header">
      <h1><%= application_title %></h1>
      <div id="main-nav">
        <ul>
          <li><%= link_to 'home', root_path %></li>
          <li><%= link_to 'blog', posts_path %></li>
          <li><%= link_to 'encontros', meetings_path %></li>
          <li><a href="/">membros</a></li>
          <li><%= link_to 'projetos', projects_path %></li>
          <li><a href="/">contato</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <div id="footer">
      <div id="footer-nav">
      </div>
    </div>
  </div>
</body>
</html>
