<!DOCTYPE html>
<html>
<head>
  <title><%= application_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "lib/jquery", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="login" class="right">
      <% if user_signed_in? %>
        <%= link_to current_user.full_name, current_user %> | <%= link_to 'logout', logout_path %>
      <% else %>
        <%= link_to 'login', login_path %> | <%= link_to 'cadastre-se', new_user_path %>
      <% end %>
    </div>
    <div id="header">
      <h1><%= application_title %></h1>
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'blog', blog_path %></li>
        <li><%= link_to 'encontros', encontros_path %></li>
        <li><%= link_to 'membros', membros_path %></li>
        <li><%= link_to 'projetos', projetos_path %></li>
        <li><%= link_to 'contato', contato_path %></li>
      </ul>
    </div>

    <div id="content">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <div id="footer">
      Website por <%= link_to "Marcelo Griggio Cajueiro", "http://www.twitter.com/marcelocajueiro" %> e tutoriado por <%= link_to "Carlos Antonio da Silva", "http://www.twitter.com/cantoniodasilva" %>
    </div>

  </div>
</body>
</html>
